# Virtual environment
venv/
env/

# Model files
# models/*.pkl
# data/*.pkl

# Python cache
__pycache__/
.pytest_cache/
*.pyc
*.pyo

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log